/** Customizing bootstrap components **/
.card {
    border-style: dotted;
    border-width: 2px;
}

.form-control::placeholder {
    color: $placeholders-color!important;
}

.form-control::-webkit-input-placeholder {
    color: $placeholders-color!important;
}

.form-control::-ms-input-placeholder {
    color: $placeholders-color!important;
}

.input-group-text {
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($dark, 0.1)!important;
    user-select: none;
}

$nav-border: 1px solid darken($card-focus-color, 5%);

.nav {
    .nav-item {
        .nav-link {
            color: rgba($dark, 0.25);
            border: $nav-border;
            font-weight: bold;
            transition: none;

            span {
                display: inline;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }

        .nav-link:hover {
            color: rgba($dark, 0.6);
            border: $nav-border;
        }

        .active {
            background-color: $card-focus-color;
            color: lighten($primary, 2%)!important;
            opacity: 1;

            .fa-icon {
                color: $primary;
            }
        }
    }
}

.nav-tabs {
    border-bottom: $nav-border;
}