/** Bootstrap Colors **/
$primary: #960808;
$white: #FFFFFF;

/** Other Colors **/
$placeholders-color: #DDD;
$card-focus-color: #f5f5f5;

/** Typography **/
$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'Literata', sans-serif;
$custom-subheadings-font-family: 'Ubuntu', sans-serif;

/** Layout **/
$navbar-height: 80px;