@import "/src/styles/theming";

.brand {
    img {
        max-width: 60px;
        max-height: 60px;

        @include media-breakpoint-down(md) {
            max-width: 48px;
            max-height: 48px;
        }

        @include media-breakpoint-down(sm) {
            max-width: 36px;
            max-height: 36px;
        }

        @media (max-width: 360px) {
            display: none;
        }
    }

    .brand-texts {
        display: inline-flex;
        margin-left: 0.5em;

        position: relative;
        top: -3px;
    }

    .lead-label, .sub-label {
        font-family: $custom-subheadings-font-family;
    }

    .lead-label {
        font-size: 1.2rem;
        @include media-breakpoint-down(md) {
            font-size: 1.05rem;
        }
    }

    .sub-label {
        position: absolute;
        top: 25px;
        margin-left: 60px;
        opacity: 0.5;

        @include media-breakpoint-down(md) {
            top: 22.5px;
            margin-left: 45px;
        }
    }
}