@import "/src/styles/theming";

.info-block {
    margin-top: 25px;
    @include media-breakpoint-down(md) {
        margin-top: 15px;
    }

    a {
        text-decoration: none;
    }
}

.alert {
    border: 2px dotted rgba(black, 0.2)!important;
}