@import "/src/styles/theming";

footer {
    background-color: $dark;

    .footer-block {
        min-height: 40px;
        background-color: $dark;
        padding: 1rem 0;
        text-align: center;

        &-darken {
            background-color: darken($dark, 2%);
        }
    }

    .footer-block-row {
        padding: 1rem 0;
    }

    .footer-block-col {
        @include media-breakpoint-down(lg) {
            padding-top: 1.5rem;
            padding-bottom: 2rem;

            &:first-child {
                padding-top: 0;
            }

            &:not(:first-child) {
                border-top: 1px solid lighten($dark, 3%);
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .footer-item-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 55px;
        padding-top: 0.5rem;

        @include media-breakpoint-down(lg) {
            min-height: 0;
            padding-top: 0.3rem;
        }

        margin: 0 auto;
        max-width: 380px;
    }

    p, span {
        color: darken(white, 20%);
    }

    a {
        color: lighten($primary, 30%);
        text-decoration: none;
        &:hover {
            color: lighten($primary, 40%);
        }
    }


}