@import "/src/styles/theming";

.result-summary {
    display: flex;
    width: 100%;
    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }

    .fa-icon {
        padding: 0.5rem 0.5rem 1rem;
        margin: auto;
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
}